.main{
  min-height: 640px;

  background-color: #ffffff;
}

.description{
  margin: 0 ;
  margin-left: 2px;
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

.title{
  margin: 0;
  margin-left: 2px;
  margin-bottom: 7px;
  padding: 0;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.11em;
}

.signature{
  margin-left: 3px;

  font-size: 18px;
  font-weight: 400;
}

.wrapper{
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 30px;
}

.scroll_wrapper{
  display: none;
}

.bottomMenu{
  display: none;
}

@media  (min-width: 768px ) {
  .main{
    min-height: 640px;

    background-color: #ffffff;
  }

  .menu_item:hover {
    color: #cccccc;
  }

  .menu_item a{
    color: inherit;
    text-decoration: none;
  }

  .menu_item:first-child{
    margin-left: 30px;
  }

  .menu_item:nth-child(2){
    margin-left: 50px;
  }

  .menu_item:nth-child(3){
    margin-left: 48px;
    letter-spacing: .07em;
  }

  .menu_item:nth-child(4){
    margin-left: 49px;
    letter-spacing: .07em;
  }

  .bottomMenu{
    display: block;
    position: relative;

    box-sizing: border-box;
    border-bottom: 1px solid #999999;
  }

  .menu_list__bottom{
    margin: 0;
    margin-left: 41px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 28px;
    width: 654px;

    box-sizing: border-box;
    position: static;
    display: flex;
    justify-content: flex-start;

    font-size: 24px;
    line-height: 47px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #999999;

    list-style: none;
    overflow: hidden;
  }

  .description{
    margin: 0 ;
    margin-bottom: 25px;

    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.02em;
  }

  .title{
    margin: 0;
    margin-bottom: 49px;
    padding: 0;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    line-height: normal;
    letter-spacing: 0.1em;
  }

  .signature{
    margin: 0;
    margin-top: 47px;

    font-size: 36px;
    font-weight: 400;
  }

  .wrapper{
    padding-left: 57px;
    padding-right: 30px;
    padding-top: 43px;
    padding-bottom: 0;
    margin-bottom: 12px;
  }

  .scroll_wrapper{
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .scroll_text{
    margin-left: 120px;
    margin-bottom: 0;

    font-size: 18px;
    letter-spacing: .1em;
    color: #999999;
    text-transform: uppercase;
  }

  .arrows{
    margin: auto;
    padding: 0;
    margin-bottom: 54px;
    width: 64px;
    height: 84px;

    position: relative;

    list-style: none;
  }

  .arrows:hover li{
    border-color: #cccccc;
  }

  .arrow_item{
    width: 23px;
    height: 23px;

    position: absolute;
    box-sizing: border-box;

    border: 4px solid #999999;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }

  .arrow_item:nth-child(1){
    top: 13px;
    left: 16px;
  }

  .arrow_item:nth-child(2){
    top: 27px;
    left: 16px;
  }
}

@media  (min-width: 1592px ){
  .bottomMenu{
    border: none;
  }

  .menu_list__bottom{
    margin: 0;
    margin-left: 67px;
    margin-bottom: 75px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 28px;
    width: 1786px;

    border-bottom: 1px solid #999999;
  }

  .menu_item:first-child{
    margin-left: 586px;
  }

  .about{
    display: flex;
    justify-content: flex-start;
  }


  .picture_wrap{
    margin-left: 164px;
  }

  .title{
    margin-left: 2px;
  }

  .signature{
    margin: 0;
    margin-top: 46px;


    font-size: 36px;
    font-weight: 400;
  }

  .wrapper{
    padding-left: 50px;
    padding-right: 0;
    padding-top: 68px;
    padding-bottom: 0;

    margin-bottom: 12px;
    margin-right: 250px;
  }

  .scroll_text{
    margin-top: 69px;
    margin-left: 701px;
    margin-bottom: 0;
  }

  .arrow_item:nth-child(1){
    top: 13px;
    left: 21px;
  }

  .arrow_item:nth-child(2){
    top: 27px;
    left: 21px;
  }
}
